<div style="width:150px;">
    <h5>NAVIGATION</h5>
    <div style="width:150px;margin:10px auto 10px auto;"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;Dashboard</div>
    <div style="width:150px;margin:10px auto 10px auto;"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Inspections</div>
    <div style="width:150px;margin:10px auto 10px auto;"><span class="glyphicon glyphicon-time"></span>&nbsp;Extensions</div>
    <div style="width:150px;margin:10px auto 10px auto;"><span class="glyphicon glyphicon-home"></span>&nbsp;Plans</div>
    <div style="width:150px;margin:10px auto 10px auto;"><span class="glyphicon glyphicon-stats"></span>&nbsp;Reports</div>
    
    <p>&nbsp;</p>
    <h5><span class="glyphicon glyphicon-map-marker"></span> ADDRESS</h5>
    <div id="address"></div>
    <p>&nbsp;</p>
    <h5><span class="glyphicon glyphicon-map-marker"></span> COORDINATES</h5>
    <div id="coords"></div>
</div>